body.theme-pearl.merchandise-index-index .columns,
body.theme-pearl.merchandise-index-index .page.messages {max-width: 100% !important;}
body.theme-pearl.merchandise-index-index .page-main {padding:0px;}
body.theme-pearl.merchandise-index-index .columns .column.main {height:100%;padding-bottom:0px;}
