<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="designnbuy_jobmanagement_vendor_assignment">
        <observer name="job_assign_to_vendor" instance="Designnbuy\JobManagement\Observer\SetVendorToJob"/>
    </event>    
</config>