<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="layout_generate_blocks_after">
        <observer name="catalog_product_view_custom_layout_remove_container" instance="Designnbuy\Canvas\Observer\CustomLayout" />
    </event>
</config>