<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Add Commission when an order place -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="adddesigncommissiononorderplace" instance="Designnbuy\Commission\Observer\AddDesignCommissionOnOrderPlace" disabled="false" />
    </event>
</config>