<div class="admin__field-complex-content">2. Configuration area is where users can add printing elements. Standard sizes are available for selection. You can also adjust design area for this product individually by repositioning it.</div>
<div id="grid_tab" class="ui-tabs ui-widget ui-widget-content ui-corner-all dashboard-container">
    <ul class="tabs-horiz ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
       <!-- <li class="ui-state-default ui-corner-top " role="tab" tabindex="0" aria-controls="grid_tab_ordered_products_content" aria-labelledby="grid_tab_ordered_products" aria-selected="true">
            <a href="#grid_tab_ordered_products_content" id="grid_tab_ordered_products" title="Bestsellers" class="ui-tabs-anchor" data-tab-type="" role="presentation" tabindex="-1">
            <span>
                <span class="changed" title="The information in this tab has been changed."></span>
                <span class="error" title="This tab contains invalid data. Please resolve this before saving."></span>
                <span class="loader" title="Loading..."></span>
                Bestsellers            </span>
            </a>

        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="Most_Viewed_Products" aria-labelledby="grid_tab_reviewed_products" aria-selected="false">
            <a href="#Most_Viewed_Products" id="grid_tab_reviewed_products" title="Most Viewed Products" class="ui-tabs-anchor" data-tab-type="" role="presentation" tabindex="-1">
            <span>
                <span class="changed" title="The information in this tab has been changed."></span>
                <span class="error" title="This tab contains invalid data. Please resolve this before saving."></span>
                <span class="loader" title="Loading..."></span>
                Most Viewed Products            </span>
            </a>

        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="New_Customers" aria-labelledby="grid_tab_new_customers" aria-selected="false">
            <a href="#New_Customers" id="grid_tab_new_customers" title="New Customers" class="ui-tabs-anchor" data-tab-type="" role="presentation" tabindex="-1">
            <span>
                <span class="changed" title="The information in this tab has been changed."></span>
                <span class="error" title="This tab contains invalid data. Please resolve this before saving."></span>
                <span class="loader" title="Loading..."></span>
                New Customers            </span>
            </a>

        </li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="Customers" aria-labelledby="grid_tab_customers" aria-selected="false">
            <a href="#Customers" id="grid_tab_customers" title="Customers" class="ui-tabs-anchor" data-tab-type="" role="presentation" tabindex="-1">
            <span>
                <span class="changed" title="The information in this tab has been changed."></span>
                <span class="error" title="This tab contains invalid data. Please resolve this before saving."></span>
                <span class="loader" title="Loading..."></span>
                Customers            </span>
            </a>
        </li>-->
    </ul>
</div>

<script>
    /*require(["jquery","mage/backend/tabs"], function($){
        $(function() {
            $('#grid_tab').tabs();
        });
    });*/
</script>