<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <!--<homepagecategory>
            <settings>
                <enable>0</enable>
            </settings>
        </homepagecategory>-->
    </default>
</config>
