<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Rolepermissions
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="amasty_advanced_permissions" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\Rolepermissions\Ui\DataProvider\Product\Form\Modifier\Owner</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Ui\Component\ColumnFactory">
        <plugin name="Amasty_Rolepermissions::Catalog_Ui_Component_ColumnFactory" type="Amasty\Rolepermissions\Plugin\Catalog\Ui\Component\ColumnFactory" />
    </type>
	<preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing" type="Amasty\Rolepermissions\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing" />
</config>
