.left-share-panel {top:3px;}
.object-align { margin-top: 0;}
#addtocartmessage div.clr ul {width: 260px;left: 200px;}
#addtocartmessage div.clr label.label{width:195px}
.align_icons #align_relative_to {width: 135px;}
.align_icons #relativeToLabel { height: 31px;}
.prcadcart {margin: 5px;}
.file-upload{overflow:hidden;position:relative;background:#31A4E3;padding:5px 10px!important;color:#ffffff;width:45%;font-size:15px}
.pop-heading-line1{border-bottom:1px solid #ececec;display:block;margin-bottom:20px;margin-top:57px;padding-bottom:10px}
.new-heading {font-size: 20px;}
 #upload_info_hd_window .global_popup_box {font-size: 12px;}
 #vdpRecordLabel {line-height: 33px;width:152px; display:block; text-align:center;}
.costing .prcadcart {font-size: 10px;margin: 0px;}