@font-face {
  font-family: 'dnbicons';
  src:  url('fonts/dnbicons.eot?n0utli');
  src:  url('fonts/dnbicons.eot?n0utli#iefix') format('embedded-opentype'),
    url('fonts/dnbicons.ttf?n0utli') format('truetype'),
    url('fonts/dnbicons.woff?n0utli') format('woff'),
    url('fonts/dnbicons.svg?n0utli#dnbicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dnb"], [class*=" dnb"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dnbicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dnbtext:before {
  content: "\e900";
}
.dnbshape:before {
  content: "\e901";
}
.dnbsettings:before {
  content: "\e902";
}
.dnbr-ico-layout:before {
  content: "\e903";
}
.dnblayers:before {
  content: "\e904";
}
.dnbhelp:before {
  content: "\e905";
}
.dnbbg:before {
  content: "\e906";
}
.dnbcart:before {
  content: "\e907";
}
.dnbclipart:before {
  content: "\e908";
}
.dnbcolor:before {
  content: "\e909";
}
.dnbcolors:before {
  content: "\e90a";
}
.dnbdelete:before {
  content: "\e90b";
}
.dnbeyehide:before {
  content: "\e90c";
}
.dnbeyeshow:before {
  content: "\e90d";
}
.dnbfont:before {
  content: "\e90e";
}
.dnbhwlock:before {
  content: "\e90f";
}
.dnbidea:before {
  content: "\e910";
}
.dnbimgadd:before {
  content: "\e911";
}
.dnbinfo:before {
  content: "\e912";
}
.dnblayerlock:before {
  content: "\e913";
}
.dnblayerunlock:before {
  content: "\e914";
}
.dnblayout:before {
  content: "\e915";
}
.dnbmagic:before {
  content: "\e916";
}
.dnbphotos:before {
  content: "\e917";
}
.dnbpicture_1:before {
  content: "\e918";
}
.dnbpreview:before {
  content: "\e919";
}
.dnbpreview_2:before {
  content: "\e91a";
}
.dnbprinter:before {
  content: "\e91b";
}
.dnbpro-flip-side:before {
  content: "\e932";
}
.dnbruler:before {
  content: "\e933";
}
.dnbsave:before {
  content: "\e934";
}
.dnbsearch:before {
  content: "\e935";
}
.dnbsettings_1:before {
  content: "\e936";
}
.dnbzoom:before {
  content: "\e937";
}
.dnbobal_center-v:before {
  content: "\e938";
}
.dnbobal_right:before {
  content: "\e939";
}
.dnbobal_left:before {
  content: "\e93a";
}
.dnbalign_center:before {
  content: "\e93b";
}
.dnbalign-left:before {
  content: "\e93c";
}
.dnbalignment-bottom:before {
  content: "\e93d";
}
.dnbalignment-center:before {
  content: "\e93e";
}
.dnbalignment-top:before {
  content: "\e93f";
}
.dnbalign-right:before {
  content: "\e940";
}
.dnbmv-top:before {
  content: "\e941";
}
.dnbmv-right:before {
  content: "\e942";
}
.dnbmv-left:before {
  content: "\e943";
}
.dnbmv-bottom:before {
  content: "\e944";
}
.dnbshape-round:before {
  content: "\e945";
}
.dnbshape-rect:before {
  content: "\e946";
}
.dnbshape-line:before {
  content: "\e947";
}
.dnbshape-brush:before {
  content: "\e948";
}
.dnbtool-preview:before {
  content: "\e91e";
}
.dnbtool-ob_align_right-1:before {
  content: "\e920";
}
.dnbtool-group:before {
  content: "\e922";
}
.dnbtool-ungroup:before {
  content: "\e921";
}
.dnbtool-undo:before {
  content: "\e91c";
}
.dnbtool-redo:before {
  content: "\e91d";
}
.dnbtool-flip-vert:before {
  content: "\e923";
}
.dnbtool-flip-hor:before {
  content: "\e924";
}
.dnbtool-eraser:before {
  content: "\e925";
}
.dnbtool-duplicate:before {
  content: "\e926";
}
.dnbtool-cut:before {
  content: "\e927";
}
.dnbtool-paste:before {
  content: "\e91f";
}
.dnbmask-wi-2:before {
  content: "\e928";
}
.dnbmask-wi-1:before {
  content: "\e929";
}
.dnbmask-star:before {
  content: "\e92a";
}
.dnbmask-shape-4:before {
  content: "\e92b";
}
.dnbmask-round:before {
  content: "\e92c";
}
.dnbmask-rect:before {
  content: "\e92d";
}
.dnbmask-heart-1:before {
  content: "\e92e";
}
.dnbmask-heart:before {
  content: "\e92f";
}
.dnbmask-cloud:before {
  content: "\e930";
}
.dnbmask-adostar:before {
  content: "\e931";
}

@font-face {
  font-family: 'dnb-phaseii';
  src:  url('fonts/dnb-phaseii.eot?mqfegq');
  src:  url('fonts/dnb-phaseii.eot?mqfegq#iefix') format('embedded-opentype'),
    url('fonts/dnb-phaseii.ttf?mqfegq') format('truetype'),
    url('fonts/dnb-phaseii.woff?mqfegq') format('woff'),
    url('fonts/dnb-phaseii.svg?mqfegq#dnb-phaseii') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="dnb-"], [class*=" dnb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dnb-phaseii' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dnb-tools:before {
  content: "\e902";
}
.dnb-grid:before {
  content: "\e90e";
}
.dnb-paste:before {
  content: "\e909";
}
.dnb-paste2:before {
  content: "\e90c";
}
.dnb-shape-ii:before {
  content: "\e911";
}
.dnb-shape-i:before {
  content: "\e910";
}
.dnb-gallery:before {
  content: "\e90a";
}
.dnb-upload:before {
  content: "\e90b";
}
.dnb-draglayer:before {
  content: "\e90d";
}
.dnb-tool-clone:before {
  content: "\e90f";
}
.dnb-font-italic:before {
  content: "\e903";
}
.dnb-font-bold:before {
  content: "\e904";
}
.dnb-toggle:before {
  content: "\e905";
}
.dnb-insta:before {
  content: "\e906";
}
.dnb-flickr:before {
  content: "\e907";
}
.dnb-font-italic:before {
  content: "\e903";
}
.dnb-mask:before {
  content: "\e900";
}
.dnb-picasa:before {
  content: "\e908";
}
.dnb-copy:before {
  content: "\e902";
}
.dnb-shopping-cart:before {
  content: "\e903";
}
.dnb-paste:before {
  content: "\e92d";
}
.dnb-spinner11:before {
  content: "\e984";
}
.dnb-bin:before {
  content: "\e9ac";
}