<?xml version="1.0"?>
<!--
/**
 * {{Drc}}_{{Storepickup}} extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     http://opensource.org/licenses/mit-license.php
 * 
 *                     @category  {{Drc}}
 *                     @package   {{Drc}}_{{Storepickup}}
 *                     @copyright Copyright (c) {{2016}}
 *                     @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Drc_Storepickup::storepickup" title="Storepickup Locations" module="Drc_Storepickup" sortOrder="13" resource="Drc_Storepickup::storepickup"/>
        <add id="Drc_Storepickup::storelocator" title="Storelocators" module="Drc_Storepickup" sortOrder="10" action="drc_storepickup/storelocator" resource="Drc_Storepickup::storelocator" parent="Drc_Storepickup::storepickup"/>
        <add id="Drc_Storepickup::import" title="Import" module="Drc_Storepickup" sortOrder="11" parent="Drc_Storepickup::storepickup" action="drc_storepickup/import" resource="Drc_Storepickup::import"/>

        <add id="Drc_Storepickup::holidays" title="Holidays" module="Drc_Storepickup" sortOrder="12" parent="Drc_Storepickup::storepickup" action="drc_storepickup/holidays" resource="Drc_Storepickup::holidays"/>
    </menu>
</config>
