<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="1300" showInDefault="1" showInWebsite="1" showInStore="1">
            <!-- <label>Order Delivery Date Settings</label>
            <tab>sales</tab>
            <resource>Drc_Storepickup::storepickup</resource> -->
            <group id="storepickup" type="text"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Pick Up</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="format" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Date Format:</label>
                    <comment>yy-mm-dd</comment>
                </field>
                <field id="production_time" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Min Production Time</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="disabled" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disabled Pick Up Day</label>
                    <source_model>Drc\Storepickup\Model\Config\Source\Disabled</source_model>
                </field>
                <field id="hourMin" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pick Up Hour Start:</label>
                    <comment>Should be 8=>8AM, 9=>9AM </comment>
                </field>
                <field id="hourMax" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pick Up Hour End:</label>
                    <comment>Should be 22=>7PM, 23=>8PM because Minutes cover 1hr </comment>
                </field>
                <field id="google_api_key" translate="label comment" sortOrder="35" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Google Api key</label>
				</field>
				<field id="zoom_level" translate="label comment" sortOrder="40" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Zoom Level</label>
				</field>
				<field id="upload_image_id" translate="label comment" type="image" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Marker Image</label>
						<backend_model>Drc\Storepickup\Model\Config\Backend\Image</backend_model>
						<base_url type="media" scope_info="1">marker</base_url>
				</field>
            </group>
        </section>
    </system>
</config>
