<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <!--<add id="Designnbuy_HomePageCategory::homepagecategory_settings" title="HomePageCategory" module="Designnbuy_HomePageCategory" sortOrder="10" action="adminhtml/system_config/edit/section/homepagecategory_settings" resource="Designnbuy_HomePageCategory::homepagecategory"/>-->
	</menu>
</config>
